[client]
socket=/tmp/mysql.sock
default-character-set=utf8

[mysqld]
basedir=/usr/local/mysql
datadir=/var/lib/mysql
socket=/tmp/mysql.sock

character-set-server=utf8
lower_case_table_names = 1
symbolic-links=0



[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

